<h2> All users </h2>

<section class="users">


  <% @users.each do |user| %>


  <div class="user">

    <div class="user-image">

      <%= image_tag user.avatar ,:class=> "img-circular" %>
    </div>

    <div class="user-details">

      <p>
        <%= user.username %> (<%= user.email %>)
      </p>

    </div>

</div>

<% end %>
</section>
