// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #3BC8AA;
$yellow: #FFECCF;
$pink: #FFC6C6;
$purple: #31234E;
$orange: #FF551A;
$black: #1e1e1e;
$white: #ffffff;


$titleFont: "Pt Serif";
$bodyFont: "Roboto";

$font-size-links-px: 13px;
$font-size-score-px:24px;

$line-height-px: 1.5;

$font-weight-bold: 800;
$font-weight-regular: 400;
$font-weight-light: 200;

header h1 {
  margin-top: 0px;
  margin-bottom: 30px;
}

header img {
  width:70%;
}


.score {
  font-size: $font-size-score-px;
  line-height: $line-height-px;
  font-weight: $font-weight-regular;
}

.actions {
  margin-top:40px;
  margin-bottom:40px;
}

.actions a {
  font-size: $font-size-links-px;
  line-height:$line-height-px;
  font-weight:$font-weight-bold;
  color: $orange;
  padding: 2px;
  border-bottom: solid 1px $orange;
  margin-left: 10px;
  margin-right: 10px;
}
